<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnisonHT</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <ul>
      <% modules.forEach((module) => { %>
        <li><a href="/module/<%= module.name %>/"><%= module.name %></a></li>
      <% }); %>
    </ul>
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
