[data-bs-theme="dark"] {
  --bs-link-color: #{rgb(172, 95, 95)};
  --bs-link-color-rgb: #{172, 95, 95};

  .navbar {
    --bs-navbar-color: #{rgb(102, 0, 0)};
  }
}

.navbar {
  background-color: var(--bs-navbar-color);
  box-shadow:
    0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);

  a {
    color: var(--bs-navbar-active-color);
  }
}

.page-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;

  .sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;

    .sidebar {
      min-width: 250px;
      max-width: 250px;
    }
  }
}

.display-none {
  display: none !important;
}

@media (max-width: 768px) {
  .page-wrapper {
    .sidebar-wrapper {
      overflow: hidden;
      width: 0;
      min-width: 0;
      max-width: 0;
    }
  }
}
