.navbar {
  background-color: rgb(175, 173, 255);
  box-shadow:
    0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.page-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;

  .sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;

    .sidebar {
      min-width: 250px;
      max-width: 250px;
    }
  }
}

@media (max-width: 768px) {
  .page-wrapper {
    .sidebar-wrapper {
      overflow: hidden;
      width: 0;
      min-width: 0;
      max-width: 0;
    }
  }
}
