.lirc-tx {
  .lirc-tx-button-layout {
    position: relative;

    & > div {
      position: absolute;
      display: flex;
      margin: 5px;
      align-items: stretch;
      justify-items: stretch;

      button {
        overflow: hidden;
        flex-grow: 1;
      }
    }
  }

  .remaining-keys {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-top: 1px solid var(--secondary);

    & > div {
      display: flex;
      flex-direction: row;

      button {
        width: 25%;
        flex-grow: 1;
        overflow: hidden;
      }
    }
  }
}
